.container
  %h1 Shows

  %table.table
    %thead
      %tr
        %th Name
        %th Time
        %th Location
        %th Tickets
        %th Price
        %th Industry Price
        %th Theater
        %th

    %tbody
      - if @shows
        - @shows.each do |show|
          %tr
            %td= link_to show.name, show.link
            %td= show.formatted_time
            %td= show.location
            %td= show.tickets
            %td= show.formatted_price
            %td= show.formatted_industry_price
            %td= show.theater_name

.container
  - if @is_admin
    = button_to 'New Show', new_show_path, class: "btn btn-primary", method: :get
