%p
  %b Name:
  = @show.name
%p
  %b Time:
  = @show.time
%p
  %b Location:
  = @show.location
%p
  %b Tickets:
  = @show.tickets
%p
  %b Price:
  = number_to_currency(@show.price, unit: '$')

= link_to 'Edit', edit_show_path(@show)
\|
= link_to 'Back', shows_path
